<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <div class="body_area">
        <div class="top_nav_border">
            <div class="top_nav">
                <a th:href="@{/}" id="home">Home</a>
                <a th:href="@{/about}" id="about" class="active">About</a>
                <a th:href="@{/robotTeam}" id="robotTeam">Robot Teams</a>
                <a th:href="@{/robotTeammates}" id="robotTeammates">Robot Teammates</a></a>
            </div>
        </div>

        <header id="about_header" class="header">
            <h1>About Us</h1>
        </header>

        <div id="about_body" class="body">
            <p>List about page details here</p>
            <form th:method="get" th:object="${text}">
                <span th:text="${text}">CUSTOM TEXT</span>
            </form>

        </div>

        <footer id="about_footer" class="footer">
            <p>Jordan Sinclair, &copy;2019 </p>
        </footer>
    </div>

</body>
</html>