<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robot Teams</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <div class="body_area">
        <div class="top_nav_border">
            <div class="top_nav">
                <a th:href="@{/}" id="home">Home</a>
                <a th:href="@{/about}" id="about">About</a>
                <a th:href="@{/robotTeam}" id="robotTeam" class="active">Robot Teams</a>
                <a th:href="@{/robotTeammates}" id="robotTeammates">Robot Teammates</a>
            </div>
        </div>

        <header id="robotTeam_header" class="header">
            <h1>Robot Teams</h1>
        </header>

        <div id="robotTeam_body" class="body">
            <p>Create, modify, or delete teams here</p>
        </div>

        <div class="tableArea">
            <table id="table" class="robotTeamTable">
                <thead id="tableHeader" class="tableHeader">
                <tr>
                    <th>Team Name</th>
                    <th>Owner</th>
                    <th>Date Created</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team : ${teams}" id="databaseRow">
                    <td th:value="${team.id}">
                        <span class="addTableRowCell" th:text="${team.teamName}"></span>
                    </td>
                    <td th:value="${team.id}">
                        <span class="addTableRowCell" th:text="${team.ownerFirstName}"></span>
                        <span class="addTableRowCell" th:text="${team.ownerLastName}"></span>
                    </td>
                    <td th:value="${team.id}">
                        <span class="addTableRowCell" th:text="${team.createDate}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="robotTeam_buttons">
            <button id="createTeamButton" class="button">Create New Team</button>
        </div>

        <footer id="robotTeam_footer" class="footer">
            <p>Jordan Sinclair, &copy;2019 </p>
        </footer>

        <div id="createTeamInput" class="modal">
            <div class="modal_content">
                <span id="close_input_button" class="close">&times;</span>
                <header>
                    <h2>Create your team</h2>
                </header>
                <div>
                    <h3>Team</h3>
                </div>
                <div>
                    Team Name: <input class="teamName_input" type="text">
                </div>
                <div>
                    <h3>Team Owner</h3>
                </div>
                <div class="fullname_input">
                    <div class="firstname_input">
                        First Name: <input type="text">
                    </div>
                    <div class="lastname_input">
                        Last Name: <input type="text">
                    </div>
                </div>
                <div class="submitButton">
                    <button id="submitButton" class="button">Submit</button>
                </div>
            </div>
        </div>

        <div id="createTeamConfirmation" class="modal">
            <div class="modal_content">
                <span id="close_confirmation_button" class="close">&times;</span>
                <header>
                    <h2>Create your team</h2>
                </header>
                <div>
                    <h3>Team Name</h3>
                </div>
                {teamName}
                <div>
                    <h3>Team Owner</h3>
                </div>
                <div class="fullname_input">
                    <div class="firstname_input">
                        First Name: {firstName}
                    </div>
                    <div class="lastname_input">
                        Last Name: {lastName}
                    </div>
                </div>
                <div class="confirmButton">
                    <button id="confirmButton" class="button">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/robotTeam.js"></script>
</body>
</html>