/*
* Top navigation
*/
.top_nav_border {
  background-color: #20314c;
}

.top_nav {
  background-color: #333;
  overflow: hidden;
  border: 10px solid #20314c;
}

.top_nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
}

.top_nav a:hover {
  background-color: #ddd;
  color: black;
}

.top_nav a.active {
  background-color: #e5600d;
  color: white;
}

/*
* Header
*/
.header h1 {
  font-family: Arial;
}
/*
* Body
*/
.body_area {
  text-align: center;
}

.body {

}

/*
* Buttons
*/
.button {
  padding: 18px;
  font-size: 14px;
  font-family: Arial;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #074eb2;
  color: white;
  border-radius: 10px;
}

.button:hover {
  background-color: #e5600d;
  color: white;

}

.button onclick {
  background-color: white;
  color: black;
  font-size: 6px;
}


/*
* Footer
*/

.footer {
  border-bottom: 5px solid #20314c;
}

/*
* Tables
*/

table.robotTeamTable {
  margin-left: auto; margin-right: auto;
  border-collapse: collapse;
  padding: 12px;
  border-style: hidden;
}

table.robotTeamTable th {
  background-color: #20314c;
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: Arial;
}

table.robotTeamTable tr {
  background-color: #444444;
  color: white;
  font-size: 13px;
  font-family: Arial;
}

table.robotTeamTable td, table.robotTeamTable th{
  padding-top: 12px; padding-bottom: 12px;
  padding-left: 24px; padding-right: 24px;
  border: 1px solid #777;
  border-radius: 0px;
}

table.robotTeamTable tr:nth-child(even){
  background-color: #686868;
}

table.robotTeamTable tr:hover {
  background-color: #333;
  color: white;
}

table.robotTeamTable tr.addTableRow {
  background-color: #a8d6ea;
  color: #023951;
  font-size: 14px;
  font-family: Arial;
  font-weight: 700;
}

table.robotTeamTable tr.addTableRow:hover {
  background-color: #7ed5f7;
  color: #023951;
  font-size: 14px;
  font-family: Arial;
  font-weight: 700;
  border: 1px solid #023951;
}

table.robotTeamTable td.addTableRowCell {
  border: 1px solid #94bdce;
}